body{
	background:#0CD39A;
	font-family: 'Montserrat', serif, arial;
}
a{
	-webkit-transition: all 0.3s ease;
    	-moz-transition: all 0.3s ease;
    	-o-transition: all 0.3s ease;
    	transition: all 0.3s ease;
}
a:hover {
	text-decoration:none;
}
.amazon{
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#333333;
	white-space:nowrap;
	display:block;
	text-align:center;
}
.amazon:hover{
	text-decoration:none;
	color:#333333;
}
.amazon-button{
	width:250px;
	background-color:#FECD57;
	border:1px solid #FBC43C;
	border-radius:4px;
	padding:10px; 
	margin:25px 5px;
	-webkit-transition: all 0.3s ease;
    	-moz-transition: all 0.3s ease;
    	-o-transition: all 0.3s ease;
    	transition: all 0.3s ease;
}
.amazon-button:hover {
	background:#e4a201;
}
.navbar-default, .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    text-shadow: none;
    text-transform: uppercase;
    background:white;
    color:black;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.navbar-default .navbar-nav > li > a:hover, a.turns-green:hover{
	text-decoration: none;
    color:#0CD39A;
}
/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
  color: white;
}
html, body {
height: 100%;
}
.wrapper {
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -60px;
}
.footer, .push {
 height: 60px;
}
.wrapper-details {
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -170px;
}
.footer-details, .push-details {
 height: 170px;
}
@media (max-width: 600px) {
   #credits {
     display: none;
   }
 }
 
